*{margin: 0px;padding: 0px;}

header{
	font-family: Arial, Helvetica, sans-serif;
	background-color:lightseagreen;
	border-style: outset;
	margin: auto;
	height: 80px;
}

body{
	font-family: Arial, Helvetica, sans-serif;
}

.container{
	display: flex;
    justify-content: center;
}

.app{
	padding: 5px;
	background-color: #000bff66;
	margin-top: 5%;
	width: 300px;
}

.numeros{
	display: flex;
    flex-direction: row;
    align-items: center;
}


.btn{
	background-color: rgb(220 254 255 / 0.63);
	font-size: x-large;
	width: 25%;
    height: 85px;
	margin: 1px;
	border-style: none;
}

.btn-op, .btn-reset{
	background-color: rgba(228, 186, 247, 0.63);
}

.btn-reset{
	color: red;
}

.btn-ig{
	background-color: rgba(169, 236, 174, 0.747);
}

.btn:hover{
	background-color: rgba(186, 215, 216, 0.63);;
}

.btn-op:hover, .btn-reset:hover{
	background-color: rgba(209, 171, 228, 0.63);
}

.btn-ig:hover{
	background-color: rgba(139, 199, 143, 0.747);
}

.res{
	background-color: rgba(224, 255, 224, 0.8);
	width: 100%;
	font-size: x-large;
	height: 30px;
	margin: 2px 0 2px 0;
	border-radius: 2px;
}
